.Signup1 {
    min-height: 100vh;
    background-image: url("../../assets/images/group-6@2x.png");
    background-size: cover;
}

.Signup1 .right .form {
    min-height: 100vh;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    margin-left: -180px;
}