.sidebanner .left {
    padding: 50px;
    text-align: left;
}

.sidebanner .left h1 span {
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #96fced;
    text-align: left
}

.sidebanner .left h1 {
    width: 455.4px;
    height: 120px;
    font-size: 30px;
    /* font-weight: bold; */
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
    text-align: left;
    margin-top: 200px;
}

.sidebanner .left .mb50 {
    margin-top: 100px;
    height: 20px;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: left;
}

.sidebanner .left .signup:hover {
    background-color: transparent !important;
}

.sidebanner .left .signup {
    width: 140.2px;
    height: 44px;
    border-radius: 2px;
    border: solid 1px #ffffff;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

}