.mbtopbar {
    margin-top: 50px;
}

.fa-circle {
    color: #96fced;
    margin-right: 5px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff !important;
    z-index:1px
}

.navbar-brand span {
    opacity: 0.5;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.navbar-brand:hover {
    color:#ffffff
}


.navbar-light .navbar-nav .nav-link {
    opacity: 0.9;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.83;
    letter-spacing: 0.3px;
    text-align: right;
    color: #ffffff;
    margin-right: 10px;
}