.Dashboard {
    background-color: #f6f9fd;
}

.Dashboard .topbar {
    height: 220px;
    opacity: 0.92;
    background-image: linear-gradient(to bottom, #1f9cf8, #03045c);
}

.mbtotal {
    margin-top: -100px;
    
}

.graph,
.pie {
    padding: 50px;
}

.mbtitile .heading p {
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #42505c;
    padding-left: 30px;
    padding-top: 0px;
    margin-top:0px
}

.mbtitile .create p {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.94;
    letter-spacing: normal;
    text-align: right;
    color: #79828b;
    margin-top: 50px;
    padding-top: 0px;
    margin-top: 0px
}

.create .add {
    background-color: transparent !important;
    border: none !important;
}

.mbgraph,

.mbgpie {

    border-radius: 8px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 20px;
}

/* .mbgraph .funding {
    border:2px solid black
} */

.mbgraph .funding p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: #79828b;
    text-align: left
}

.mbgraph .funding h1 {
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #42505c;
}

.goalachived1 {
    height: 32px;
    width: 85% !important;
    /* opacity: 0.08; */
    border-radius: 16px;
    background-color: #2154a626;
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    position: absolute;
    bottom: 85px;
}

.goalachived1 p {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.94;
    letter-spacing: normal;
    color: #2b7ed1 !important;
}


.mbgpie .result p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: #79828b;
    text-align: left
}

.mbgpie .result h1 {
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #42505c;
}

.upppad {
    margin-top: -40px
}