
.tabcontent1 table{
    margin-top: 1rem;
}

.tabcontent1 tbody div{
    height: 96px;    
}
.tabcontent1 tbody div:nth-of-type(even) {
    background-color: #2b7ed114;
}

.tabcontent1 tr {
    border: solid 1px #97979733;
}

.headingRules{
    width: 92px;
    height: 20px;
    font-family: Poppins;
    font-size: 14px;
    color: #303030;
}

