
.tabcontent1 table{
    margin-top: 1rem;
}

.tabcontent1 tbody div{
    height: 96px;    
}

.tabcontent1 tbody div:nth-of-type(even) {
    background-color: #2b7ed114;
}

.tabcontent1 h1 {
    margin-left:1rem;
}

.headingRules{
    width: 92px;
    height: 20px;
    font-family: Poppins;
    font-size: 14px;
    color: #303030;
}

.border{
    border:1px solid black;
}

.min-height{
    height:100px;
}
