.decreasingHeight{
    height: 6px;
  }
  .fontFamilyForGoal{
    font-family: Avenir;
  }

  .sideSpacing .rounded{
    margin-bottom: 1.5em;
  }
  
  .fontFamilyForGoal{
    border-radius:50px;
    background-color:rgb(238, 238, 239);
  }
  
  .progressDiv1{
    width: 40%;
  }
  .progressDiv1{
    width: 10%;
  }
  .progressDiv1{
    width: 50%;
  }